.eval__page {
  background-color: #747474;
  padding: 30px 0;

  min-height: 1200px;
}

.eval__headline {
  margin-top: 0;
  text-align: center;
}

.eval__ul {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  &--statement {
    flex-direction: column;
    padding-right: 10px;
  }
}

.eval__li {
  position: relative;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  // text-transform: capitalize;

  // --word li style here as trigger is parent for triggering modal
  &__trigger {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  &--word {
    text-transform: capitalize;
  }

  &--statement {
    margin-bottom: 10px;
  }
}

.eval__badge {
  position: absolute;
  right: -10px;
  bottom: -10px;
  margin: 0;
  background-color: red;
  border-radius: 1000px;
  padding: 2px 5px;
  font-size: 16px;
  line-height: 16px;
}
