.eval__page {
  background-color: #747474;
  padding: 30px 0;

  min-height: 1200px;
}

.eval__headline {
  margin-top: 0;
  text-align: center;
}

.eval__ul {
  background-color: white;
  display: flex;

  &--word {
    & li {
      margin: 2px 0;

      &:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }

  &--statement {
    flex-direction: column;
  }

  & li {
    position: relative;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: capitalize;
  }

  &__badge {
    position: absolute;
    right: -10px;
    bottom: -10px;
    margin: 0;
    background-color: red;
    border-radius: 1000px;
    padding: 2px 5px;
    font-size: 16px;
    line-height: 16px;
  }
}
