.eval__page {
  background-color: #747474;
  padding: 30px 0;

  min-height: 1200px;
}

.eval__headline {
  margin-top: 0;
  text-align: center;
}

.eval__ul--word {
  background-color: white;
  display: flex;

  & li {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: capitalize;
    margin: 2px 0;

    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}
