.home__page {
  & h1 {
    text-align: center;
  }

  & h4 {
    text-align: center;
    margin-top: 30px;
  }

  & h5 {
    margin-top: 50px;
  }

  &__bigText {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
  }
}

.home__page__card {
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 7px 10px 10px rgba($color: #000000, $alpha: 0.15);
  transition: text-decoration 1s ease;

  &:hover .home__page__card-title {
    text-decoration: underline;
  }
}

// For fading underline in and out
.home__page__card-title {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.35s ease;
}
